<!DOCTYPE html>
<html>
<head lang="en">
  <title>UWCourseSearch - Search</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta5/shoelace.css">
  <link rel="stylesheet" href="{{ url_for('static', filename="grid.css") }}">
</head>
<body>
  <div class="text-center">
    <h1>Search</h1>
  </div>

  <div class="width-75 m-x-auto">
    <form action="/results" method="post">

      <div class="input-single">
        <div class="width-100">
          <label for="Term">Term</label>
          <select name="Term" id="Term">
            {% for term in term_codes %}
            <option value="{{ term.id }}">{{ term.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="input-single">
        <label for="CourseName">Course Name</label>
        <select name="CourseName" id="CourseName">
          {% for course in course_codes %}
          <option value="{{ course.code }}">{{ course.text }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-single">
        <label for="CourseCode">Course Code</label>
        <input name="CourseCode" type="text" id="CourseCode">
      </div>

      <div class="input-single">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
